.no-imagemap{
    background:#CCC;
    border:3px dashed #999;
    width:400px;
    height:300px;
    padding:10px;
    font-weight:bold;
    font-size:13px;
    text-align:center;
    line-height:300px;
}

.imagemap-cont{
    position:relative;
    border:2px inset #EEE;
}

.imagemap-cont .overlay{
    position:absolute;
    top:0;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    z-index:10;
}

.selection-box {
    position:    absolute;
    background: transparent;
    border:     1px dashed red;
    background: rgba(255,0,0,0.2);
    cursor:pointer;
    z-index:20;
  }
  
  .coordsbox{
      display:none;
      position:absolute;
      bottom:100%;
      left:0;
      background:white;
      border:1px solid #CCC;
      font-size:13px;
      padding:4px;
      -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
width:178px;
text-align:center;
box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  }
  .coordsbox input{
      outline:none;
      background:#EEE;
      border:0;
      padding:2px;
      width:100px;
  }
    .coordsbox .keep{
      font-weight: bold;
        color: green;
      font-size: 15px;
  }
  .coordsbox .remove{
      font-weight: bold;
color: red;
      font-size: 15px;
  }
  .clicker{
      width:100%;
      height:100%;
  }
  
  .form-item-coordinates{
      display:none;
  }